/openglplayground/.vs/openglplayground/v16/Browse.VC.opendb
/openglplayground/Debug
/openglplayground/openglplayground/Debug/main.obj
/openglplayground/openglplayground/Debug/openglplayground.log
/openglplayground/openglplayground/Debug/openglplayground.tlog/CL.command.1.tlog
/openglplayground/openglplayground/Debug/openglplayground.tlog/CL.read.1.tlog
/openglplayground/openglplayground/Debug/openglplayground.tlog/CL.write.1.tlog
/openglplayground/openglplayground/Debug/openglplayground.tlog/link.command.1.tlog
/openglplayground/openglplayground/Debug/openglplayground.tlog/link.read.1.tlog
/openglplayground/openglplayground/Debug/openglplayground.tlog/link.write.1.tlog
/openglplayground/openglplayground/Debug/openglplayground.tlog/openglplayground.lastbuildstate
/openglplayground/openglplayground/Debug/vc142.idb
/openglplayground/openglplayground/Debug/vc142.pdb
/include/glm/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-f2b990e72eb13c454ab2.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-2fa28707e8f99220534d.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-d3abcc54b78b4063b1c2.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/index-2020-01-24T16-57-38-0619.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/target-glm_dummy-Debug-e158c61cf4617c3e6d82.json
/include/glm/out/build/x64-Debug/build.ninja
/include/glm/out/build/x64-Debug/cmake_install.cmake
/include/glm/out/build/x64-Debug/CMakeCache.txt
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeCCompiler.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeCXXCompiler.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_C.bin
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeRCCompiler.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeSystem.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/include/glm/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/include/glm/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/include/glm/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/include/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/include/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/include/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/include/glm/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/include/glm/out/build/x64-Debug/rules.ninja
/include/glm/out/build/x64-Debug/Testing/Temporary/LastTest.log
/include/glm/out/build/x64-Debug/VSInheritEnvironments.txt
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/openglplayground/.vs/openglplayground/v16/.suo
/openglplayground/.vs/openglplayground/v16/ipch/AutoPCH/13dd9b683361e097/MAIN.ipch
/openglplayground/.vs/openglplayground/v16/ipch/AutoPCH/44d478026807eb3f/MAIN.ipch
/openglplayground/.vs/openglplayground/v16/.suo
